/* Estilos Gerais */
body {
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6; 
}

h2 {
    color: #007bff; 
    margin-bottom: 1em;
}

/* Cabeçalho e Rodapé */
header, footer { 
    background-color: #333; 
    color: #fff; 
    padding: 1em;
}

header {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header img {
    height: 80px; 
}

/* Navegação */
nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    font-weight: 500; 
}

nav a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    padding: 3em 1em; 
    text-align: center; 
}

/* Alteração para excluir o cabeçalho */
section:not(#home) ~ section {  
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2em; 
}

/* Formulário de Contato */
form {
    max-width: 600px; 
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 0.5em 0;
    }

    header img {
        height: 50px;
    }

    section {
        padding: 2em 1em;
    }

    .swiper-slide img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    nav {
        font-size: 0.8em;
    }

    form input, form textarea {
        padding: 0.8em;
    }

    form button {
        padding: 0.8em 1.6em;
    }
}

/* Estilos do carrossel */
.swiper-container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 350px;
    height: 150px;
    object-fit: contain;
}
